* {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
}

code {
    font-family: 'monospace';
}

.file-list {

}

.file {
    
}


.CodeMirror {
    height: 100% !important;
    font-size: 12pt;
    padding: 7px 0;
}
